.footer {
    background-color: rgb(7, 2, 13);
    display: flex;
    flex-direction: column;

    &__social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 0;
        gap: 15px;

        &__item {
            width: 35px;
            height: auto;
            cursor: pointer;
        }

        &__item:hover {
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
    }

    &__text {
        text-align: center;
        color: #007bff;
        font-weight: 500;
        letter-spacing: 0.1rem;
        line-height: 1.2;
        margin: .5rem 0;
    }
}